kind: Secret
apiVersion: v1
metadata:
    namespace: {{ secret_namespace }}
    name: {{ secret_name }}
data:
{% for key, value in secret_data.items() %}
    {{ key }}: {{ value | b64encode }}
{% endfor %}
