[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type = simple
User = %i
PAMName =login
EnvironmentFile = /etc/systemd/system/vncserver_%i.env
PIDFile = /home/%i/.vnc/%H-%i.pid
ExecStartPre = /bin/sh -c '/usr/bin/vncserver -kill :${DISPLAY_ID} > /dev/null 2>&1 || :'
ExecStart = /usr/bin/vncserver :${DISPLAY_ID} -alwaysshared -fg
ExecStop = /usr/bin/vncserver -kill :${DISPLAY_ID}
Restart = always
RestartSec = 10

[Install]
WantedBy = multi-user.target